
body{
    background-image: url('./../Images/images12.jpg');
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
    height: 100%;
    margin:0;
    padding:0;
}

.contain{
    margin:auto;
    position: absolute;
    min-width:980px;
    max-width:1024px;
    padding: 15px;
    height:670px;
    /*display: flex;*/
}

.main{
    margin:auto;
}

.input-user{
    margin-top:40px;
}

.input-pass{
    margin-top:20px;
}

.drop{
    min-width: 6rem;
    margin: 0;
    background-color: red;
}

.title{
    margin-left:90px ;

}

.color{
    color:#cb215f;
}

.box{
    margin:auto;
    margin-top: 30px;
    background-color: #fff;
    padding:10px;
}
.boxdown{
    margin:auto;
    /*margin-top: 90px;*/
    background-color: #fff;
    padding: 10px;
    border:none;
}
.questiontext{
    width: 100%;
    height: 15px;
}

.questiondesign{
    color:#cb215f;
    font-size:20px;
    overflow: visible;

}

.placement{
    margin-top:10px;
    margin-left: 8px;
    padding: 10px;
}

.fl{
    float:right;
    border-width:0;
    border:none;
}

.mainbox{
    width: 100%;
    margin-left: 200px;
    margin-top: 38px;
}
.titrbox{
    padding-top:8px;
    padding-bottom: 8px;
    padding-left: 14px;
    padding-right: 12px;
}
.closechat1{
    border: 0;
    margin: 0;
    cursor: pointer;
    display:inline-flex;
    outline: none;
    position: relative;
    vertical-align: middle;
    justify-content: center;
    background-color: #f8f9fa;
    transition: all 0.5s ease;
}

.closechat2{
    flex: 0 0 auto;
    color: rgba(0, 0, 0, 0.54);
    padding: 14px;
    overflow: visible;
    font-size:14px;
    text-align: center;
    border-radius: 50%;
    margin-left: auto;
}

.closechat3{
    transition:transform 200ms cubic-bezier(0.4, 0, 0.2, 1);
    /*transition:transform 200ms;*/

}
.closechat1:hover{
    background-color:#c8ced4;
}

.rotate{
    transform: rotate(180deg);

}
.arrow{
    font-size: 15px;
    fill: currentColor;
    width: 1em;
    height: 1em;
    display: inline-block;
    user-select: none;
    flex-shrink: 0;
    align-content: center;
}
.titr{
    font-size: 24px;
    /*font-family:Arial;*/
    margin-top:5px;
    color:#6c757d;
}
.chat{
    width: 47px;
    height: 37px;
    border-radius: 29%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    flex-shrink: 0;
    margin-bottom: 5px;

}
.robot{
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border:2px solid #3a81dc;
    user-select: none;
    flex-shrink: 0;
    margin-bottom: 5px;
    margin-right: 5px;
}

.select{
    margin-left:60px;
    color: #cb215f;
    font-size: 20px;
    shape-outside: none;
    outline: none;
    padding: 2px;
    margin-top:8px;
}
.inputs{
    outline: none;
    box-shadow: none;
}
.form-control {
    outline: none;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.buttons{
    color:#2098D1;
    width: 50px;
    height: 30px;
    float: right;
    padding:0;
    background-color:#e9ecef;
    border:none;
    margin-right: 3px;
    margin-bottom: 10px;
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    -webkit-transition-property: color;
    transition-property: color;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
}
.buttons:hover{
    color: white;
    transform: scaleX(1);
}
.buttons:hover:before{
    transform: scaleX(1);
}
.buttons:before{
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #2098D1;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: 0 50%;
    transform-origin: 0 50%;
    -webkit-transition-property: transform;
    transition-property: transform;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;

}
.bigbuttons{
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    position: relative;
    overflow: hidden;

    padding: 1em;
    cursor: pointer;
    background: #e1e1e1;
    text-decoration: none;
    color: #666;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-font-smoothing: antialiased;
    font-family: 'Roboto', sans-serif;

    border:1px solid transparent;
    border-radius:6px;
    float:right;
    width: 138px;
    height: 48px;
    font-size: 14px;
}
.bigbuttons:before{
    content: "";
    position: absolute;
    z-index: -1;
    left: 51%;
    right: 51%;
    bottom: 0;
    background: #2098D1;
    height: 4px;
    -webkit-transition-property: left, right;
    transition-property: left, right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.bigbuttons:hover{
    color: #2098D1;
}

.bigbuttons:hover:before,.bigbuttons:focus:before,.bigbuttons:active:before{
    left: 0;
    right: 0;
    border:none;
}

input{
    background-color: #fff;
}

.inputs{
    font: inherit;
    /*color: currentColor;*/
    width: 70%;
    border: 0;
    border-bottom: 1px solid #e1e1e1;
    margin:0;
    padding: 6px 10px 7px;
    /*display: block;*/
    min-width: 0;
    box-sizing: content-box;
    background: none;
    -webkit-tap-highlight-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
}

.inputsborder{
    margin-bottom:10px;
    margin-left: 62px;
}

.inputs:focus{
    outline: 0;
    border-bottom: 1px solid #2098D1;
}


.inputyears{
    font: inherit;
    /*color: currentColor;*/
    width: 56%;
    border: 0;
    border:none;
    margin:0;
    padding:0 0 0 15px;
    /*display: block;*/
    min-width: 0;
    box-sizing: content-box;
    background: none;
    -webkit-tap-highlight-color: transparent;
    color: rgba(0, 0, 0, 0.87);
    cursor: text;
    display: inline-flex;
    font-size: 1rem;
    background-color: transparent;
}

.inputyearsborder{
    display: flex;
    margin-left:50px;
    border-bottom: 1px solid #e1e1e1;
    width: 40%;
}

.years{

    max-height: 2em;
    align-items: center;
    margin-left: 10px;
}

.yearscontent{
    margin-bottom: 0;
}

.inputyearsborder:focus{
    outline: 0;
    border-bottom: 1px solid #2098D1;
    background-color: transparent;
}

.inputyears:focus{
    outline: 0;
    background:none;
}


.exitbutton{
    margin-right: 10px;
    margin-top: 10px;
}
.seebutton{
    margin-top: 10px;
}

.answerbutton{
    width: 100%;
    margin-top: 10px;
}