



.input-user{
    margin-top:40px;
    /*margin: auto;*/
}
.input-pass{
    margin-top:20px;

    /*margin: auto;*/
}

/*.navbar-master{*/
    /*width: 100px;*/
/*}*/

.drop{
    min-width: 6rem;
    margin: 0;
    background-color: red;
}

.title{
    margin-left:90px ;
}

/*body{*/
        /*!*max-width: 1024px;*!*/
        /*!*min-width: 940;*!*/
        /*!*height: 600px;*!*/
/*}*/

body{
    min-width:940px;
    max-width:1024px;

    background-image: url('./../Images/images14.jpg');
    position: relative;
    background-repeat: no-repeat;
    background-size:cover;
    background-position:center;
    background-attachment: fixed;
}

.color{
    background-color: red;
}

.answer{

}

.box{
    margin:auto;
    margin-top: 55px;
}

/*.container{*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
/*}*/

.main{

    /*height:auto;*/
    /*opacity: 0.5;*/


    height:723px;
    margin:auto;
    /*max-width: 1550px;*/
    /*min-width: 940px;*/
    /*width: 100%;*/




}
/*.btn:focus{*/
    /*outline-color:#00000008;*/
/*}*/

.fl{
    float:right;
    border-width:0;
    border:none;

}

/*button.fl:checked{*/
    /*border:1px solid red;*/
/*}*/